.row{
    padding: 2%;
}
#head{
    background-image: top center;
    background-repeat: no-repeat;
    box-shadow: 5px 10px rgba(98, 69, 104, 0.5); 
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    border: 2px white solid;
}
.card{
    margin-top: 2%; 
    margin-bottom: 4%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: rgba(98, 69, 104, 0.5);
    color: white;
    border: 2px black solid;


}
body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 480px) {
    #head {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/header.png");
        height: 200px;
        background-size:100% auto;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    #head {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/header.png");
        height: 300px;
        background-size:100% auto;
    }
}
@media (min-width: 1025px) {
    #head {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../assets/header.png");
        height: 550px;
        background-size:100% auto;
}
}